.DS_Store
*.swp
*.pyc
django_photologue.egg-info
build
.idea
example_project/db.sqlite3
example_project/coverage_html_report
example_project/.coverage
photologue/migrations
example_project/db*back*
example_project/public
example_project/tmp
example_project/backup
