	{% extends "photologue/root.html" %}
	{% load i18n %}
	{% load photologue_tags %}
	{% load fontawesome %}

	{% block title %}{% trans "Photos in Daily Report" %}{% endblock %}

	{% block content %}

	<div class="row col-lg-12">
		<h1 class="page-header"> {% trans "Photos in Daily Report" %}{{request.url}}</h1>
	</div>
	
	<h4>{% trans "All Reports" %}</h4>
	<ul class="list-inline">
	{% for report in daily_report %}
	<li><a href="{{ report.get_edit_url }} ">{{ report }}</a></li>
	{% endfor %}
	</ul>
	{% if photo_list and daily_report_item_list %}
	<div class="row" >
		<form action="{% url 'photologue:update_dailyreport' active_report %}"
				method="post"> {% csrf_token %}

			<!-- Photo List -->

			<article>
				{% for daily_report_item in daily_report_item_list %}
				<section><div class="row">
				<div class="col-xs-12 " >
					<div class="col-xs-2"
							style="background-color:{{daily_report_item.department_item.report_color}}">
						<strong>{{daily_report_item.reportRowID}} </strong>
					</div>
					<div class="col-xs-10 h4 nopadding" 
							style="background-color:{{daily_report_item.department_item.report_color}}">
						<a class="btn btn-warning btn-xs" role="button" href="#"
						onClick='window.open( "{{ daily_report_item.get_add_photo_url }}", "newWindow" )'> 
						+Photo </a>
						<a class="btn btn-info btn-xs" role="button" href="#"
						onClick='window.open( "{{ daily_report_item.get_admin_url }}", "newWindow" )'> 
						Edit </a> 
						{%comment%}
						<a class="btn btn-info btn-xs" role="button" href="{{daily_report_item.get_admin_url}}">
							edit</a>
						{%endcomment%}
						{{daily_report_item.department_item.name_long}}
					</div>
					<div class="col-xs-4 bg-warning small"> {{daily_report_item.status_TOC_CK}} </div>
					<div class="col-xs-5 bg-success small"> {{daily_report_item.plan_TOC_CK}} </div>
					<div class="col-xs-3 bg-success small"> {{daily_report_item.get_optime}} </div>
					<div class="col-xs-12 bg-warning small"> {{daily_report_item.statusCK|safe}} </div>
					<div class="col-xs-12 bg-info small"> {{daily_report_item.planCK|safe}} </div>
				</div>
				<div class="col-xs-12">
				{% if daily_report_item.get_photos|length > 0 %}
				{% for photo in daily_report_item.get_photos %}
				{% if photo.department_item %} 
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 nopadding" align="center" >
					<a href="{{ photo.get_absolute_url }}">
						<img src="{{ photo.get_thumbnail_url }}" 
							 class="thumbnail img-responsive" alt="{{ photo.title }}">
					</a>
					{%comment%}
					<p class="small" style="background-color:{{ photo.department_item.color }}">
						{{ daily_report_item.department_item.name}}</p>
					{%endcomment%}
				   <div class="checkbox">
					   <font size="-2">
					   {%if not is_active%}
					   <input  type="checkbox" data-toggle="toggle"
							data-on="Clone" data-off="Clone"
							data-onstyle="primary" data-size="mini"
							value="{{ photo.pk }}" name="report_photo" >
						{% else %}
					   <input  type="checkbox" data-toggle="toggle"
							data-on="Del" data-off="Del"
							data-onstyle="danger" data-size="mini"
							value="{{ photo.pk }}" name="delete_photo" >
						{%endif%}
						<span class="small"><a href="#endofpage" >[&#9660;]</a></span>
					   </font>
				   </div>
				   {%comment%}
					<label class="checkbox-inline">
						<input type="checkbox" value="{{ photo.pk }}" name="report_photo" >
						clone </label>
					<label class="checkbox-inline">
						<input type="checkbox"value="{{ photo.pk }}" name="delete_photo" >
						remove </label>
					{%endcomment%}
				</div>
				{% endif %}
				{% endfor %}
				{% else %}
				<div align="center"><small>[no photo]</small></div>
				{% endif %}
				</div></div>
				</section>
				{%comment%}
				{% endif %}
				{%endcomment%}
				{% endfor %}
			</article>



			<!-- footer -->
			<p><hr></p>
			<div class="row col-lg-12" >
				<div class="col-lg-6" >
					<a name="endofpage"></a>
					<button class="btn btn-danger"  type="submit">
						Submit Changes to Active Report
					</button>
				</div>
				<div class="col-lg-6" >
					<p > Tags:
						<a href="#"><span class="label label-info">Go To Top</span></a>
						| <i class="icon-user"></i>Photo in view: 
						{{ object_list|length }}<a href="#"></a>
					</p>
				</div>
			</div>
			<p><hr></p>
		</form>
	</div>
	{% else %}
		<div class="row">{% trans "No photos were found" %}.</div>
	{% endif %}
	{% comment %}
	{% include "photologue/includes/paginator.html" %}
	{% endcomment %}
	<div style="float:left">
		<p > Tags:
			<a href="#"><span class="label label-info">Go To Top</span></a>
			| <i class="icon-user"></i>Photo in view: {{ photo_list|length }}<a href="#"></a>
		</p>
	</div>

	<script src="{{ STATIC_URL }}js/bootstrap-toggle.min.js" media="screen"></script>

	{% endblock %}
