{% extends "photologue/root.html" %}
{% load i18n %}
{% load static %}
{% load fontawesome %}

{% load photologue_tags %}

{% block title %}{% trans "Monthly Report" %}{% endblock %}

{% block content %}

	<div class="row col-lg-12 sidepadding">
		<h1 class="page-header"> {% trans "Monthly Report" %}
			<a class="btn btn-warning" role="button" href="{% url 'admin:photologue_photogroup_add'%}"> 
					+Add New Case</a>
			<a class="btn btn-success" role="button" href="{% url 'photologue:generate-xlsx-all'%}"> 
					Download all Excel </a>
		</h1>
	</div>

	<div class="row col-lg-12 sidepadding">
	{% include "photologue/includes/search_field_form.html" %}
	</div>

	{% if object_list %}
	<div class="row col-lg-12">
	<article>
		{% for photogroup in object_list %}
		<section>
			<div class="row col-lg-12" >
				<a href="{% url 'photologue:monthly-report-detail' photogroup.pk %}" 
				   class="btn btn-primary btn-xs" role="button" >
				   Edit
				</a>
				<small>[{{photogroup.record_type}}]
				{{photogroup.serial_no}}</small><br> 
				<b>{{photogroup}}</b>
				<div class="row col-lg-12 h6 ">
					<div class="col-lg-12 info-bg-lightblue"> 
					{{photogroup.problem_description}} </div>
					<div class="col-lg-12 info-bg-lightgreen"> 
					{{photogroup.service_provided}} </div>
					<div class="col-xs-4 bg-success"> 
					{{photogroup.contact_person}} </div>
					<div class="col-xs-4 bg-info"> 
					{{photogroup.contact_number}} </div>
					<div class="col-xs-4 bg-success"> 
					{{photogroup.date_of_service.date}} </div>
				</div>
			</div>
			<div class="row col-lg-12 ">
				{% for photo_sample in photogroup.sample %}
				<div class="col-xs-3 nopadding">
					<a href="{{photo_sample.photo.get_absolute_url}}">
					<img class="thumbnail img-responsive" src="{{photo_sample.photo.get_thumbnail_url}}">
					</a>
				</div>
				{% endfor %}
			</div>
		</section>
		{% endfor %}
	</article>
	</div>
	{% endif %}


{% endblock %}

