{% extends "photologue/root.html" %}
{% load photologue_tags i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

	<div class="row col-lg-12">
		<h4 class="page-header">[{{object.record_type|upper}}]{{ object.name }}</h4>
	</div> 

	{% if object %}
	 <form action="{% url 'photologue:update_photogroup' object.pk %}"
			 method="post"> {% csrf_token %}
	
		<div class="row col-lg-12 btn-wrapper">
			{%comment%}
            <input type="checkbox" data-toggle="toggle"
                                   data-on="Del" data-off="Del"
                                   data-onstyle="danger" data-size="mini"
                                   value="{{ photo.pk }}" name="delete_photo">
			{%endcomment%}
			<div class="row col-lg-12 sidepadding">
				<a class="btn btn-info" role="button" href="{{ set_pm_url }}">
					Set as PM</a> 
				<a class="btn btn-info" role="button" href="{{ set_cm_url }}">
					Set as CM</a> 
				<a class="btn btn-primary" role="button" 
					href="{% url 'photologue:test-sortable' object.pk %}">
					Change Photo Order</a>
				<a class="btn btn-primary" role="button" href="{{ set_active_photo_group_url }}">
					Set as Active Case </a>
				<a class="btn btn-info" role="button" href="{{ edit_record_url }}">
					Edit Record </a>
				<a class="btn btn-success" role="button" href="#"
					onClick='window.open( "{{ generate_xlsx_url }}", "newWindow" )'> 
					Download Excel </a>
				<button class="btn btn-danger" type="submit">
					Submit Changes / Save
				</button>
			</div>
			<div class="row col-lg-12 sidepadding">
				<a class="btn btn-warning" role="button" href="#"
					onClick='window.open( "{{ add_photo_url }}", "newWindow" )'> 
					+Add Photo </a>
				<a class="btn btn-warning" role="button" href="{{admin_record_url }}">
					Admin Record </a> 
			</div>
	   </div>
		<div class="row col-lg-12"> 
			{% for photo in object.photo_records.all %}
			<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 nopadding" >
				<a href="{{photo.photo.get_absolute_url}}">
				<img class="thumbnail img-responsive" 
				     src="{{photo.photo.get_thumbnail_url}}"/> </a>
			   <div class="checkbox">
			   <input  type="checkbox" data-toggle="toggle"
					data-on="Remove" data-off="Remove"
					data-onstyle="danger" data-size="mini"
					value="{{ photo.pk }}" name="delete_photo" >
			   </div>
			</div>
			{% endfor %}
		</div>
		{%comment%}
		<a href="#" 
			onClick='window.open( 
				"{{ popup_url }}", "newWindow" )'>
			[Add Photo]
		</a>
		{%endcomment%}

		<!-- PhotoGroup Record tables -->

		{%comment%}
		<a href="{% url 'admin:photologue_photogroup_change' object.id%}">[Edit Record]</a> 
		{%endcomment%}
		<div class="row col-lg-12"><hr></div>
		<table style="width: 89.8752%;" border="1"> 
			<tbody> 
				<tr style="height: 21px;"> 
					<td style="width: 23%; height: 21px;"><b>Client</b></td> 
					<td style="width: 24%; height: 21px;">{{object.company}}
						{%comment%}
					   <select>
						  {% for company in select_company %}
						  <option value="{{company.pk}}" 
						  	{% if company.pk == object.company.pk %}selected{%endif%} >
						  	{{company.name}}</option>
						  {% endfor%} 
					   </select>
					   {%endcomment%}
					</td> 
					<td style="width: 25%; height: 21px;"><b>Department</b></td> 
					<td style="width: 210%; height: 21px;">{{object.department}}
						{%comment%}
					   <select>
						  {% for department in select_department %}
						  <option value="{{department.pk}}" 
						  	{% if department.pk == object.department.pk %}selected{%endif%} >
						  	{{department.name}}</option>
						  {% endfor%} 
					   </select>
					   {%endcomment%}
					</td> 
				</tr> 
				<tr style="height: 21px;"> 
					<td style="width: 22%; height: 21px;"><b>Contact Person</b></td> 
					<td style="width: 24%; height: 21px;">{{object.contact_person}}
						{%comment%}
					   <input type="text" name="contact_person" value="{{object.contact_person}}">
					   {%endcomment%}
					</td> 
					<td style="width: 25%; height: 21px;"><b>Contact Number</b></td> 
					<td style="width: 210%; height: 21px;">{{object.contact_number}}
						{%comment%}
					   <input type="text" name="contact_number" value="{{object.contact_number}}">
					   {%endcomment%}
					</td> 
				</tr> 
			</tbody> 
		</table> 
		<p>&nbsp;</p> 
		<table style="width: 90%;" border="1"> 
			<tbody> 
				<tr style="height: 21px;"> 
					<td style="height: 21px; width: 45%;"><b>Date/Time of Service Provided 維修日期:</b></td> 
					<td style="height: 21px; width: 55%;">{{object.date_of_service.date}}
						{%comment%}
					   <input type="text" name="date_of_service" size="70" value="{{object.date_of_service.date}}">
					   {%endcomment%}
					</td> 
				</tr> 
				<tr style="height: 21px;"> 
					<td style="height: 21px; width: 45%;"><b>Place/System 維修地點/系統:</b></td> 
					<td style="height: 21px; width: 55%;">{{object.place_or_system}}
						{%comment%}
					   <input type="text" name="place_or_system" size="70" value="{{object.place_or_system}}">
					   {%endcomment%}
					</td> 
				</tr> 
				<tr style="height: 21px;"> 
					<td style="height: 21px; width: 45%;"><b>Problem description 簡述有關問題 :</b></td> 
					<td style="height: 21px; width: 55%;">{{object.problem_description}}
						{%comment%}
					   <input type="text" name="problem_description" size="70" value="{{object.problem_description}}">
					   {%endcomment%}
					</td> 
				</tr> 
			</tbody> 
		</table> 
		<p>&nbsp;</p>
		<p><b>Service Provided 維修內容 :</b><br/> 
		{{object.service_provided}}</p> 
		<p>&nbsp;</p> 
		<p><b>Parts replaced/changed 零件更換:</b><br/> 
		{{object.parts_replaced}}</p>
		<p>&nbsp;</p> 
		<p><b>Remark 備註 :</b><br/> 
		{{object.remark}}</p>
		<p>&nbsp;</p> 
		<p><b>Conclusion /Recommendation 結論 /建議:</b><br/> 
		{{object.conslusion}}</p> 
		<p>&nbsp;</p> 
		<table style="width: 90%;" border="1"> 
			<tbody> 
				<tr> 
					<td>Services Provide By維修者:</td> 
					<td>{{object.serviced_by}}</td> 
					<td>Date</td> 
					<td>{{object.serviced_date.date}}</td> 
				</tr> 
				<tr> 
					<td>Inspected By 驗收者:</td> 
					<td>{{object.inspected_by}}</td> 
					<td>Date</td> 
					<td>{{object.inspection_date.date}}</td> 
				</tr> 
			</tbody> 
		</table>	
		 <!-- footer -->
		 <div class="row"> <hr/> </div>
		<div class="row col-xs-12  button-wrapper" >
		<p class="muted"><small>{% trans "Published" %} {{ object.date_added }}</small></p>
		</div>
	</form>
	 {% else %}
		 <code>object does not exists</code> 
	 {% endif %}
	
	<script src="{{ STATIC_URL }}js/bootstrap-toggle.min.js" media="screen"></script>

{% endblock %}
