{% extends "photologue/root.html" %}
{% load i18n %}
{% load static %}
{% load fontawesome %}

{% load photologue_tags %}

{% block title %}{% trans "All Monthly Report" %}{% endblock %}

{% block content %}

	<div class="row col-lg-12">
		<h1 class="page-header"> {% trans "All Monthly Report" %}
		<div class="btn btn-wrapper">
			<a class="btn btn-warning" role="button" href="{% url 'admin:photologue_photogroup_add'%}"> 
					+Add Report Record (PhotoGroup) </a>
		</div>
		</h1>
	</div>

	{% if object_list %}
	<div class="row col-lg-12">
	<article>
		{% for photogroup in object_list %}
		<section>
			<div class="row col-xs-12" style="background-color:{{photogroup.department_item.report_color}}" >
				<a href="{% url 'photologue:monthly-report-detail' photogroup.pk %}" 
				   class="btn btn-primary btn-xs" role="button" >
				   Edit
				</a>
					<b>{{photogroup}}</b>
					<small> <p class='text-warning'>
					{{photogroup.problem_description}}</small></p>
			</div>
			<div class="row col-xs-12 ">
				{% for photo_sample in photogroup.sample %}
				<div class="col-xs-3 nopadding">
					<img class="thumbnail img-responsive" src="{{photo_sample.photo.get_thumbnail_url}}">
					<small>{{photo_sample.photo.pk}}_{{photo_sample.photo_class}}</small>
				</div>
				{% endfor %}
			</div>
		</section>
		{% endfor %}
	</article>
	</div>
	{% endif %}


{% endblock %}

