{% extends "photologue/root.html" %}
{% load i18n %}
{% load photologue_tags %}
{% load fontawesome %}

{% block title %}{% trans "Photos in Daily Report" %}{% endblock %}

{% block content %}

<form method="post">
{% csrf_token %}
	<table>
	<ul>
	{{ form.as_table }}
	</ul>
	</table>
	<hr>
	<div class="submit-row">
	{%comment%}
	<a class="btn btn-warning" role="button" 
		href="{% url 'admin:photologue_photogroup_change' object.pk%}">
		Admin Case</a>
	{%endcomment%}
	<input type="submit" class="btn btn-danger" value="Submit Changes">
	</div>
	<hr>
	{%comment%}
	<a class="btn btn-info btn-xs" role="button" href="#"
	  onClick='window.open( "{{ daily_report_item.get_admin_url }}", "newWindow" )'>
	   Edit </a>
	{%endcomment%}
</form>

{% endblock %}

{% block scripts %}

<script>
$( document ).ready( function() {
	console.log( 'ready' );
	$( ".datepicker" ).datepicker();
});

</script>

{% endblock %}
