{% extends "photologue/root.html" %}
{% load i18n %}
{% load photologue_tags %}
{% load fontawesome %}
{% load static %}
{% load bootstrap %}

{% block title %}{% trans "Photos in Daily Report" %}{% endblock %}

{% block content %}

	<form method="post">
	{% csrf_token %}
		{{ form|bootstrap_horizontal }}
		<div class="panel panel-default">
			<div class="panel-body"></div> 
			<div class="panel-footer" align="right">
				<input type="submit" class="btn btn-danger" value="Submit Changes">
			</div>
		</div>

</div>

{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}js/bootstrap-datepicker.min.js"></script>
<script>
$( document ).ready( function() {
	console.log( 'ready' );
	$( ".datepicker" ).datepicker({
		format: 'dd/mm/yyyy' 
	});
});

</script>

{% endblock %}
