{% extends "photologue/root.html" %}
{% load i18n %}
{% load photologue_tags %}

{% block title %}{% trans "Sortable Test" %}{% endblock %}

{% block content %}

<div class="row col-lg-12">
	<h1 class="page-header"> {% trans "Sortable Test" %}{{request.url}}</h1>
</div>

<div class="row col-xs-12">
	{% if object %}
	<form action="{% url 'photologue:test-submit-sortable' object.pk %}"
		  method="post" id="dj_form"> {% csrf_token %}
		<div id="multi">
			<div class="layer tile row col-lg-12"  >
				<div class="tile__name h4">
					Before</div>
				<div class="tile__list" name="grp_before" style="min-height:50px;min-width:80%;">
					{% for photo in object.photo_records.all %}
					<div class="col-xs-3 col-sm-2 col-lg-1 nopadding" >
						<img class="thumbnail img-responsive" src="{{photo.photo.get_thumbnail_url}}">
						{{photo.pk}}
						<input type="hidden" id="imgorder{{photo.pk}}" name="imgorder" value="{{photo.pk}}">
						{%comment%}
						<div class="checkbox">
							<font size="-2">
							<input  type="checkbox" data-toggle="toggle"
								data-on="Remove" data-off="Remove"
								data-onstyle="primary" data-size="mini"
								value="{{ photo.pk }}" name="photo_remove" >
							<span class="small"><a href="#endofpage" >[&#9660;]</a></span>
							</font>
						</div>
						{%endcomment%}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="layer tile row col-lg-12" >
				<div class="tile__name h4" >
					Page Center</div>
				<div class="tile__list" name="grp_no" style="min-height:50px;min-width:80%;">
				</div>
			</div>
			<div class="layer tile row col-lg-12" >
				<div class="tile__name h4" >
					After</div>
				<div class="tile__list" name="grp_after" style="min-height:50px;min-width:80%;">
				</div>
			</div>
		</div>
		<div class="row col-lg-12">
			<div class="col-lg-6">
				<a name="endofpage"></a>
				<button id="submit_btn" class="btn btn-danger" type="submit" 
					>
					Submit Changes to Active Report
				</button>
			</div>
			{% comment%}
			<div class="col-lg-6">
				<p> Tags:
					<a href="#"><span class="label label-info">Go To Top</span></a>
					| <i class="icon-user"></i>Photo in view:
					{{ object_list|length }}<a href="#"></a>
				</p>
			</div>
			{%endcomment%}
		</div>
	</form>
	{% endif %}
</div>

<div class="row col-xs-12">
	<div class="h4">Title</div>
	<ul class="list-inline h3" id="foo">
		<li>hello</li>
		<li>world</li>
		<li>corny</li>
		<li>unpig</li>
	</ul>
</div>
<script src="{{ STATIC_URL }}js/Sortable.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-toggle.min.js" media="screen"></script>
<script>
	var byId = function (id) { 
		return document.getElementById(id); 
	}
	try {
			// Multi groups
			Sortable.create(byId('multi'), {
						animation: 150,
						draggable: '.tile',
						handle: '.tile__name'
					});

			[].forEach.call(byId('multi').getElementsByClassName('tile__list'), function (el){
					Sortable.create(el, {
						group: 'photo',
						animation: 150
					});
			});

			Sortable.create(byId('foo'), {});
	} catch (error) { throw error; };
	
	// tricks to prevent submiting for debug purpose
	/*
	$("#dj_form").submit( function(e) {
		e.preventDefault();
	});
	*/

	// Submit button onclick handler
	// for deleting Hidden fields not displayed on sortable style
	document.getElementById("submit_btn").onclick = function() {
		var form = document.getElementById("dj_form");
		var inputs = form.getElementsByTagName("input");
		inputs_len = inputs.length
		for( var i=0; i < inputs_len; i++ ) {
			if( inputs[i].type == "hidden" && inputs[i].name != "csrfmiddlewaretoken") {
				var parent_name = inputs[i].parentNode.parentNode.getAttribute("name");
				var parent_style = inputs[i].parentNode.getAttribute("style");
				var photo_pk = inputs[i].value
				//inputs[i].value = inputs[i].parentNode.parentNode.getAttribute("name") + ":test";
				if( parent_style  )  {
					if( parent_style.match( '/dis.*none/' ) ){
						console.log( inputs[i] + " destroyed" )
						inputs[i].destroy();
					}
				} else {
					inputs[i].value = parent_name + "/" +parent_style + "/" + photo_pk
					console.log( inputs[i].value )
				}
			}
		}
	}


</script>


{% endblock %}

