/* Some customisation for the Photologue demo site. */



div.row img.thumbnail {
	margin-bottom: 5px;
	display: inline-block;
	margin : 0 auto;
}

.page-header {
	margin-top: 20px;
	margin-bottom: 10px;
}

td {
	width: 100px;
}

a.btn.btn-default {
	margin-top: 20px;
	margin-bottom: 20px;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
