{% extends 'base.html' %}

{% block title %}MeiTim ReportBot{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
			  <h1>ReportBot</h1>
			  <h2>Report Automation</h2>
			</div>
			<p><mark>Project under early development pharse.</mark></p>
			<p>Any photo uploaded will be kept safe and throughout the development. Daily backup will be performed to Google Cloud Storage </p>
			<p>To apply for an account contact Ken Fung <a href="mailto:mr.forgot@gmail.com">mr.forgot@gmail.com</a>. Or contact +853-6612-1024 during normal office hour.
			<div class="row">
				<div class="col-xs-2">
					<p><a class="btn btn-info" role="button" href= {% url "admin:login" %}> Admin </a></p>
				</div>
				<div class="col-xs-2">
					<p><b>username</b><br>
					meitim</p>
				</div>
				<div class="col-xs-">
					<p><b>password</b><br>
					meitim </p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
